{# example/templates/emails/welcome_user.html.twig #}
{% block subject %}Welcome to Callisto, {{ user.firstName }}!{% endblock %}
{% block layout %}tailwind{% endblock %}
{% block content %}
    <h1 style="color: #0f172a; font-size: 24px; font-weight: 800; margin-bottom: 16px;">Delighted to have you with us!</h1>
    <p>Hello {{ user.firstName }} {{ user.lastName }},</p>
    <p>Your account has been successfully created. You can now log in to our platform and explore all our features.</p>
    <div style="margin: 32px 0; text-align: center;">
        <a href="{{ loginUrl }}" class="btn-indigo">Access my space</a>
    </div>
    <p style="font-size: 14px; color: #64748b;">If the button above does not work, copy and paste this link: <a href="{{ loginUrl }}">{{ loginUrl }}</a></p>
{% endblock %}
